 .u-section-1 {
  background-image: url("images/principal.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-group-1 {
  width: 732px;
  min-height: 462px;
  margin: 250px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 116px 140px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1.5rem;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 17px 131px 0 9px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 20px 140px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 657px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -355px;
    margin-left: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 115px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 514px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    margin-top: -212px;
    margin-left: 210px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 155px;
    margin-right: 128px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -338px;
    margin-right: 88px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 128px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 397px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-1 .u-group-1 {
    width: 338px;
    margin-top: -95px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -232px;
    margin-right: 66px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 267px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 35px;
    margin-bottom: 90px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -121px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 96px;
    margin-right: 42px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 451px;
}

.u-section-2 .u-group-1 {
  width: 929px;
  min-height: 319px;
  background-image: linear-gradient(#fefaf3, white);
  margin: 72px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-line-1 {
  width: 100px;
  height: 10px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-group-1 {
    width: 766px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-line-1 {
    width: 82px;
  }

  .u-section-2 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 587px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-line-1 {
    width: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-line-1 {
    width: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-line-1 {
    width: 50px;
  }
} .u-section-3 {
  background-image: linear-gradient(#fefaf3, #f2f2f2);
}

.u-section-3 .u-sheet-1 {
  min-height: 463px;
}

.u-section-3 .u-group-1 {
  width: 929px;
  min-height: 319px;
  background-image: none;
  margin: 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-3 .u-line-1 {
  width: 100px;
  height: 10px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 25px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-group-1 {
    width: 766px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-line-1 {
    width: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 587px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-line-1 {
    width: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-line-1 {
    width: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 50px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 463px;
}

.u-section-4 .u-group-1 {
  width: 929px;
  min-height: 538px;
  background-image: linear-gradient(#fefaf3, white);
  margin: 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 62px 0 0;
}

.u-section-4 .u-line-1 {
  width: 100px;
  height: 10px;
  margin: 19px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 25px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-group-1 {
    width: 766px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-line-1 {
    width: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 587px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-line-1 {
    width: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-line-1 {
    width: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-line-1 {
    width: 50px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 589px;
}

.u-section-5 .u-group-1 {
  width: 929px;
  min-height: 479px;
  background-image: none;
  margin: 60px auto 50px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 70px 0 0;
}

.u-section-5 .u-line-1 {
  width: 100px;
  height: 10px;
  margin: 21px auto 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-line-1 {
    width: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-line-1 {
    width: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-line-1 {
    width: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-line-1 {
    width: 50px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 2942px;
}

.u-section-6 .u-line-1 {
  width: 100px;
  margin: 10px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 558px;
  margin: 73px auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 846px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 20px 1px;
}

.u-section-6 .u-text-1 {
  font-style: italic;
  margin: 26px 0 0;
}

.u-section-6 .u-layout-wrap-2 {
  width: 535px;
  margin: -845px 0 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 497px;
}

.u-section-6 .u-image-1 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  margin: 21px 20px 0;
}

.u-section-6 .u-layout-wrap-3 {
  width: 535px;
  margin: 56px 0 0 auto;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 492px;
}

.u-section-6 .u-image-2 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  margin: 26px 29px 0 11px;
}

.u-section-6 .u-layout-wrap-4 {
  width: 540px;
  margin: 66px 0 0 auto;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 1000px;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 20px 1px;
}

.u-section-6 .u-text-4 {
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-6 .u-layout-wrap-5 {
  width: 534px;
  margin: -999px auto 0 0;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 480px;
}

.u-section-6 .u-image-3 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  font-style: italic;
  margin: 14px 14px 0 26px;
}

.u-section-6 .u-layout-wrap-6 {
  width: 534px;
  margin: 73px auto 0 0;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 646px;
  background-image: none;
}

.u-section-6 .u-image-4 {
  object-position: 50% 13.69%;
  height: 471px;
  width: 534px;
  margin: 0 -12px 0 0;
}

.u-section-6 .u-text-6 {
  font-style: italic;
  margin: 21px -43px 0 83px;
}

.u-section-6 .u-layout-wrap-7 {
  width: 543px;
  margin: 56px auto 0 0;
}

.u-section-6 .u-layout-cell-7 {
  min-height: 856px;
}

.u-section-6 .u-container-layout-7 {
  padding: 0 20px 1px;
}

.u-section-6 .u-text-7 {
  font-style: italic;
  margin: 27px 0 0;
}

.u-section-6 .u-layout-wrap-8 {
  width: 550px;
  margin: -395px 5px 0 auto;
}

.u-section-6 .u-layout-cell-8 {
  min-height: 495px;
}

.u-section-6 .u-image-5 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-8 {
  font-style: italic;
  margin: 29px 20px 0;
}

.u-section-6 .u-layout-wrap-9 {
  width: 550px;
  margin: -856px 0 461px auto;
}

.u-section-6 .u-layout-cell-9 {
  min-height: 495px;
}

.u-section-6 .u-image-6 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-9 {
  font-style: italic;
  margin: 29px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 912px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 954px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 641px;
    background-position: 50% 13.69%;
  }

  .u-section-6 .u-image-4 {
    height: 470px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-image-3 {
    height: 281px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-layout-wrap-7 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-layout-wrap-8 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-6 .u-image-5 {
    height: 281px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-layout-wrap-9 {
    width: 540px;
  }

  .u-section-6 .u-image-6 {
    height: 281px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    height: 207px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-6 .u-image-2 {
    height: 207px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-4 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-layout-wrap-5 {
    width: 340px;
  }

  .u-section-6 .u-image-3 {
    height: 177px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-wrap-6 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 417px;
  }

  .u-section-6 .u-image-4 {
    height: 299px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-layout-wrap-7 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-layout-wrap-8 {
    width: 340px;
  }

  .u-section-6 .u-image-5 {
    height: 177px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-wrap-9 {
    width: 340px;
  }

  .u-section-6 .u-image-6 {
    height: 177px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1733px;
}

.u-section-7 .u-group-1 {
  width: 944px;
  min-height: 362px;
  background-image: none;
  margin: 47px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
}

.u-section-7 .u-text-1 {
  font-style: italic;
  margin: 65px 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 495px;
  margin: 59px auto 0 75px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 810px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 20px 1px;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  margin: 83px 0 0;
}

.u-section-7 .u-layout-wrap-2 {
  width: 523px;
  margin: -372px 0 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 482px;
}

.u-section-7 .u-image-1 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-3 {
  font-style: italic;
  margin: 20px 20px -13px;
}

.u-section-7 .u-layout-wrap-3 {
  width: 535px;
  margin: -820px 0 0 auto;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 497px;
}

.u-section-7 .u-image-2 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 29.55% 50%;
}

.u-section-7 .u-text-4 {
  font-style: italic;
  margin: 29px 20px 0;
}

.u-section-7 .u-layout-wrap-4 {
  width: 535px;
  margin: 483px 291px 0 auto;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 484px;
}

.u-section-7 .u-image-3 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-5 {
  font-style: italic;
  margin: 13px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 940px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-layout-wrap-4 {
    margin-right: 185px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-left: 45px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-image-1 {
    height: 281px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-image-2 {
    height: 281px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-layout-wrap-4 {
    margin-right: 5px;
  }

  .u-section-7 .u-image-3 {
    height: 281px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    height: 177px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-7 .u-image-2 {
    height: 177px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-layout-wrap-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    height: 177px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1014px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 495px;
  margin: 57px 75px 0 auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 942px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 17px 1px;
}

.u-section-8 .u-text-1 {
  font-style: italic;
  margin: 22px 3px 0;
}

.u-section-8 .u-layout-wrap-2 {
  width: 523px;
  margin: -941px auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 483px;
}

.u-section-8 .u-image-1 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  margin: 7px 20px 0;
}

.u-section-8 .u-layout-wrap-3 {
  width: 523px;
  margin: 45px auto 78px 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 534px;
}

.u-section-8 .u-image-2 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-8 .u-text-3 {
  font-style: italic;
  margin: 7px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-image-1 {
    margin-left: initial;
  }

  .u-section-8 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-image-2 {
    margin-left: initial;
  }

  .u-section-8 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: 45px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-8 .u-image-1 {
    height: 281px;
    margin-left: initial;
  }

  .u-section-8 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-image-2 {
    height: 281px;
    margin-left: initial;
  }

  .u-section-8 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    height: 177px;
    margin-left: initial;
  }

  .u-section-8 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-8 .u-image-2 {
    height: 177px;
    margin-left: initial;
  }

  .u-section-8 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-9 .u-group-1 {
  width: 923px;
  min-height: 100px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-9 .u-text-1 {
  font-style: italic;
  margin: 32px 0 0;
}

.u-section-9 .u-layout-wrap-1 {
  width: 490px;
  margin: 43px auto 0 20px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 799px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0 20px 1px;
}

.u-section-9 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 44px 18px 0;
}

.u-section-9 .u-line-1 {
  width: 100px;
  margin: 21px auto 0;
}

.u-section-9 .u-text-3 {
  font-style: italic;
  margin: 28px 0 0;
}

.u-section-9 .u-layout-wrap-2 {
  width: 570px;
  margin: -799px 0 0 auto;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-9 .u-image-1 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-4 {
  font-style: italic;
  margin: 14px 20px 0;
}

.u-section-9 .u-layout-wrap-3 {
  width: 556px;
  margin: 39px 0 0 auto;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 480px;
}

.u-section-9 .u-image-2 {
  height: 325px;
  object-position: 64.61% 50%;
  margin: 0 auto;
}

.u-section-9 .u-text-5 {
  font-style: italic;
  margin: 11px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2084px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-bottom: 28px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-9 .u-text-2 {
    position: relative;
  }

  .u-section-9 .u-line-1 {
    width: 82px;
    height: 3px;
    margin-left: 198px;
  }

  .u-section-9 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-9 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-line-1 {
    width: 63px;
    margin-left: 152px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-9 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-9 .u-line-1 {
    width: 59px;
    margin-left: 114px;
  }

  .u-section-9 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-9 .u-image-1 {
    height: 308px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-9 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-9 .u-image-2 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-5 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 340px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-line-1 {
    width: 50px;
    margin-left: 72px;
  }

  .u-section-9 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    height: 194px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-9 .u-image-2 {
    height: 199px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 558px;
}

.u-section-10 .u-layout-wrap-1 {
  width: 549px;
  margin: 58px 0 0 auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 442px;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 20px 1px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 31px 0 0;
}

.u-section-10 .u-line-1 {
  width: 100px;
  margin: 31px auto 0;
}

.u-section-10 .u-text-2 {
  font-style: italic;
  margin: 31px 0 0;
}

.u-section-10 .u-layout-wrap-2 {
  width: 535px;
  margin: -442px auto 58px 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 542px;
}

.u-section-10 .u-image-1 {
  height: 325px;
  margin-top: 45px;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-10 .u-text-3 {
  font-style: italic;
  margin: 21px -32px 0 72px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-10 .u-text-1 {
    position: relative;
  }

  .u-section-10 .u-line-1 {
    width: 82px;
    height: 3px;
    margin-right: 198px;
  }

  .u-section-10 .u-image-1 {
    margin-left: initial;
  }

  .u-section-10 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-10 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-10 .u-line-1 {
    width: 63px;
    margin-right: 152px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-10 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-10 .u-line-1 {
    width: 59px;
    margin-right: 114px;
  }

  .u-section-10 .u-image-1 {
    height: 281px;
    margin-left: initial;
  }

  .u-section-10 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-10 .u-line-1 {
    width: 50px;
    margin-right: 72px;
  }

  .u-section-10 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-10 .u-image-1 {
    height: 177px;
    margin-left: initial;
  }

  .u-section-10 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 933px;
}

.u-section-11 .u-layout-wrap-1 {
  width: 504px;
  margin: 60px auto 0 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 855px;
}

.u-section-11 .u-container-layout-1 {
  padding: 0 20px 1px;
}

.u-section-11 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 55px 18px 0;
}

.u-section-11 .u-line-1 {
  width: 100px;
  margin: 21px auto 0;
}

.u-section-11 .u-text-2 {
  font-style: italic;
  margin: 28px 0 0;
}

.u-section-11 .u-layout-wrap-2 {
  width: 570px;
  margin: -855px 0 0 auto;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 517px;
}

.u-section-11 .u-image-1 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-3 {
  font-style: italic;
  margin: 29px 20px 0;
}

.u-section-11 .u-layout-wrap-3 {
  width: 570px;
  margin: 38px 0 18px auto;
}

.u-section-11 .u-layout-cell-3 {
  min-height: 500px;
}

.u-section-11 .u-image-2 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 64.61% 50%;
}

.u-section-11 .u-text-4 {
  font-style: italic;
  margin: 20px 14px 0 26px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-11 .u-text-1 {
    position: relative;
  }

  .u-section-11 .u-line-1 {
    width: 82px;
    height: 3px;
    margin-left: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-11 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-11 .u-line-1 {
    width: 63px;
    margin-left: 152px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-11 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-11 .u-line-1 {
    width: 59px;
    margin-left: 114px;
  }

  .u-section-11 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-11 .u-image-1 {
    height: 308px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-11 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-11 .u-image-2 {
    height: 308px;
  }

  .u-section-11 .u-text-4 {
    margin-left: 10px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-line-1 {
    width: 50px;
    margin-left: 72px;
  }

  .u-section-11 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-11 .u-image-1 {
    height: 194px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-11 .u-image-2 {
    height: 194px;
  }

  .u-section-11 .u-text-4 {
    margin-left: 0;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 1175px;
}

.u-section-12 .u-layout-wrap-1 {
  width: 525px;
  margin: 59px 21px 0 auto;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-12 .u-container-layout-1 {
  padding: 0 20px 1px;
}

.u-section-12 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 129px 18px 0;
}

.u-section-12 .u-line-1 {
  width: 100px;
  margin: 21px auto 0;
}

.u-section-12 .u-text-2 {
  font-style: italic;
  margin: 28px 0 0;
}

.u-section-12 .u-layout-wrap-2 {
  width: 494px;
  margin: -654px auto 0 18px;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 754px;
}

.u-section-12 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-12 .u-text-3 {
  font-style: italic;
  margin: 29px 20px 0;
}

.u-section-12 .u-layout-wrap-3 {
  width: 535px;
  margin: 32px auto 0 0;
}

.u-section-12 .u-layout-cell-3 {
  min-height: 498px;
}

.u-section-12 .u-image-2 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-12 .u-text-4 {
  font-style: italic;
  margin: 29px 20px 0;
}

.u-section-12 .u-layout-wrap-4 {
  width: 535px;
  margin: -398px 0 32px auto;
}

.u-section-12 .u-layout-cell-4 {
  min-height: 498px;
}

.u-section-12 .u-image-3 {
  height: 325px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-12 .u-text-5 {
  font-style: italic;
  margin: 15px -37px 0 77px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-12 .u-text-1 {
    position: relative;
  }

  .u-section-12 .u-line-1 {
    width: 82px;
    height: 3px;
    margin-right: 198px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 755px;
  }

  .u-section-12 .u-image-1 {
    height: NaNpx;
    margin-left: initial;
  }

  .u-section-12 .u-image-2 {
    margin-left: initial;
  }

  .u-section-12 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-12 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-12 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-12 .u-line-1 {
    width: 63px;
    margin-right: 152px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-12 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-12 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-12 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-layout-wrap-1 {
    margin-right: 15px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-12 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-12 .u-line-1 {
    width: 59px;
    margin-right: 114px;
  }

  .u-section-12 .u-image-2 {
    height: 281px;
    margin-left: initial;
  }

  .u-section-12 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-12 .u-image-3 {
    height: 281px;
  }

  .u-section-12 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-line-1 {
    width: 50px;
    margin-right: 72px;
  }

  .u-section-12 .u-layout-wrap-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-12 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-12 .u-image-2 {
    height: 177px;
    margin-left: initial;
  }

  .u-section-12 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-12 .u-layout-wrap-4 {
    width: 340px;
  }

  .u-section-12 .u-image-3 {
    height: 177px;
  }

  .u-section-12 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 1160px;
}

.u-section-13 .u-layout-wrap-1 {
  width: 488px;
  margin: 60px auto 0 21px;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 506px;
}

.u-section-13 .u-container-layout-1 {
  padding: 0 20px 1px;
}

.u-section-13 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 30px 18px 0;
}

.u-section-13 .u-line-1 {
  width: 100px;
  margin: 38px auto 0;
}

.u-section-13 .u-text-2 {
  font-style: italic;
  margin: 28px 0 0;
}

.u-section-13 .u-layout-wrap-2 {
  width: 573px;
  margin: -506px 0 0 auto;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 498px;
}

.u-section-13 .u-image-1 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-text-3 {
  font-style: italic;
  margin: 29px 20px 0;
}

.u-section-13 .u-layout-wrap-3 {
  width: 488px;
  margin: 159px auto 0 21px;
}

.u-section-13 .u-layout-cell-3 {
  min-height: 506px;
}

.u-section-13 .u-container-layout-3 {
  padding: 0 0 1px;
}

.u-section-13 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 38px 0;
}

.u-section-13 .u-line-2 {
  width: 100px;
  margin: 38px auto 0;
}

.u-section-13 .u-text-5 {
  font-style: italic;
  margin: 30px 10px 0;
}

.u-section-13 .u-layout-wrap-4 {
  width: 555px;
  margin: -506px 0 37px auto;
}

.u-section-13 .u-layout-cell-4 {
  min-height: 506px;
}

.u-section-13 .u-container-layout-4 {
  padding: 0;
}

.u-section-13 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  margin: 29px 38px 0;
}

.u-section-13 .u-line-3 {
  width: 100px;
  margin: 0 auto 0 237px;
}

.u-section-13 .u-text-7 {
  font-style: italic;
  margin: 28px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-13 .u-text-1 {
    position: relative;
  }

  .u-section-13 .u-line-1 {
    width: 82px;
    height: 3px;
    margin-left: 198px;
  }

  .u-section-13 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-13 .u-text-4 {
    position: relative;
  }

  .u-section-13 .u-line-2 {
    width: 82px;
    height: 3px;
    margin-left: 198px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-13 .u-text-6 {
    position: relative;
  }

  .u-section-13 .u-line-3 {
    width: 82px;
    height: 3px;
    margin-left: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-13 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-13 .u-line-1 {
    width: 63px;
    margin-left: 152px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-13 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-13 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-13 .u-line-2 {
    width: 63px;
    margin-left: 152px;
  }

  .u-section-13 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-13 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-13 .u-line-3 {
    width: 63px;
    margin-left: 152px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-13 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-13 .u-line-1 {
    width: 59px;
    margin-left: 114px;
  }

  .u-section-13 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-13 .u-image-1 {
    height: 281px;
  }

  .u-section-13 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-13 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-13 .u-line-2 {
    width: 59px;
    margin-left: 114px;
  }

  .u-section-13 .u-layout-wrap-4 {
    width: 540px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-13 .u-text-6 {
    font-size: 3rem;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-13 .u-line-3 {
    width: 59px;
    margin-left: 114px;
  }

  .u-section-13 .u-text-7 {
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-line-1 {
    width: 50px;
    margin-left: 72px;
  }

  .u-section-13 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-13 .u-image-1 {
    height: 177px;
  }

  .u-section-13 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-13 .u-layout-wrap-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-13 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-line-2 {
    width: 50px;
    margin-left: 72px;
  }

  .u-section-13 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-layout-wrap-4 {
    width: 340px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-13 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-line-3 {
    width: 50px;
    margin-left: 72px;
  }

  .u-section-13 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 962px;
}

.u-section-14 .u-group-1 {
  width: 548px;
  min-height: 892px;
  background-image: none;
  margin: 20px auto 0 22px;
}

.u-section-14 .u-container-layout-1 {
  padding: 0;
}

.u-section-14 .u-text-1 {
  font-style: italic;
  margin: 19px 20px 0;
}

.u-section-14 .u-layout-wrap-1 {
  width: 535px;
  margin: -892px 0 0 auto;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 493px;
}

.u-section-14 .u-image-1 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-text-2 {
  font-style: italic;
  margin: 10px 20px 0;
}

.u-section-14 .u-layout-wrap-2 {
  width: 510px;
  margin: 84px 25px 123px auto;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 392px;
  background-image: none;
}

.u-section-14 .u-image-2 {
  height: 235px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-text-3 {
  font-style: italic;
  margin: 10px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-14 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-group-1 {
    width: 340px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-14 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-14 .u-image-1 {
    height: 207px;
  }

  .u-section-14 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-layout-wrap-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-14 .u-image-2 {
    height: 157px;
  }

  .u-section-14 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 728px;
}

.u-section-15 .u-group-1 {
  width: 929px;
  min-height: 608px;
  background-image: none;
  margin: 60px auto;
}

.u-section-15 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-15 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 66px 20px 0;
}

.u-section-15 .u-line-1 {
  width: 100px;
  height: 10px;
  margin: 26px auto 0;
}

.u-section-15 .u-text-2 {
  font-style: italic;
  margin: 25px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-15 .u-group-1 {
    width: 766px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-15 .u-line-1 {
    width: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-group-1 {
    width: 587px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-15 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-15 .u-line-1 {
    width: 63px;
  }

  .u-section-15 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-group-1 {
    width: 540px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-15 .u-line-1 {
    width: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-group-1 {
    width: 340px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-15 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-15 .u-line-1 {
    width: 50px;
  }
} .u-section-16 {
  background-image: none;
}

.u-section-16 .u-sheet-1 {
  min-height: 1388px;
}

.u-section-16 .u-list-1 {
  grid-template-rows: auto;
  margin: 68px 0 60px;
}

.u-section-16 .u-repeater-1 {
  grid-template-columns: calc(20% - 19.2px) calc(20% - 19.2px) calc(20% - 19.2px) calc(20% - 19.2px) calc(20% - 19.2px);
  min-height: 312px;
  grid-gap: 24px 24px;
}

.u-section-16 .u-list-item-1 {
  background-image: none;
}

.u-section-16 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-16 .u-text-1 {
  margin: 0 auto;
}

.u-section-16 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-16 .u-list-item-2 {
  background-image: none;
}

.u-section-16 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-16 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-16 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-16 .u-list-item-3 {
  background-image: none;
}

.u-section-16 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-16 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-16 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-16 .u-list-item-4 {
  background-image: none;
}

.u-section-16 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-16 .u-text-7 {
  margin: 0 auto;
}

.u-section-16 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-16 .u-list-item-5 {
  background-image: none;
}

.u-section-16 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-16 .u-text-9 {
  margin: 0 auto;
}

.u-section-16 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-16 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-16 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 16px) calc(33.3333% - 16px) calc(33.3333% - 16px);
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-16 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-16 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-16 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-17 {
  background-image: none;
}

.u-section-17 .u-sheet-1 {
  min-height: 2534px;
}

.u-section-17 .u-group-1 {
  width: 929px;
  min-height: 794px;
  background-image: none;
  margin: 48px auto 0;
}

.u-section-17 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-17 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 67px 20px 0;
}

.u-section-17 .u-line-1 {
  width: 100px;
  height: 10px;
  margin: 24px auto 0;
}

.u-section-17 .u-text-2 {
  font-style: italic;
  margin: 50px 20px 0;
}

.u-section-17 .u-layout-wrap-1 {
  width: 587px;
  margin: 39px auto 0;
}

.u-section-17 .u-layout-cell-1 {
  min-height: 494px;
}

.u-section-17 .u-image-1 {
  height: 325px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-17 .u-text-3 {
  font-style: italic;
  margin: 4px 20px 0;
}

.u-section-17 .u-group-2 {
  width: 929px;
  min-height: 574px;
  background-image: none;
  margin: 50px auto 0;
}

.u-section-17 .u-container-layout-3 {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
}

.u-section-17 .u-text-4 {
  font-style: italic;
  margin: 1px 4px 0;
}

.u-section-17 .u-layout-wrap-2 {
  width: 828px;
  margin: 48px auto 60px;
}

.u-section-17 .u-layout-cell-2 {
  min-height: 554px;
}

.u-section-17 .u-image-2 {
  height: 336px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-17 .u-text-5 {
  font-style: italic;
  margin: 29px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-17 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-17 .u-layout-cell-2 {
    min-height: 541px;
  }

  .u-section-17 .u-image-2 {
    height: 325px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 1734px;
  }

  .u-section-17 .u-group-1 {
    width: 720px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-17 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-17 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-17 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-17 .u-group-2 {
    width: 720px;
  }

  .u-section-17 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-17 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-17 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-17 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-group-1 {
    width: 540px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-17 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-17 .u-image-1 {
    height: 299px;
  }

  .u-section-17 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-17 .u-group-2 {
    width: 540px;
  }

  .u-section-17 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-17 .u-layout-wrap-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-group-1 {
    width: 340px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-17 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-17 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-17 .u-image-1 {
    height: 188px;
  }

  .u-section-17 .u-group-2 {
    width: 340px;
  }

  .u-section-17 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-17 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-17 .u-image-2 {
    height: 207px;
  }

  .u-section-17 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-18 {
  background-image: url("images/6.png");
  background-position: 50% 50%;
}

.u-section-18 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-18 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-sheet-1 {
    min-height: 149px;
  }
}